[submodule "grub"]
	path = grub
	url = https://github.com/jforissier/grub.git
	branch = efinet-dhcp-proxy-offer-fix
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = /home/jerome/work/d02/arm-trusted-firmware
	branch = d02-optee
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
